.SeiTitle {
	background: blue; color: white;
}
.SeiError {
	color: red;
}
.SeiDebug {
	color: blue;
}
.SeiWarning {
	color: purple;
}
.SeiSubMenu2 {
	background: blue; color: white;
}
.SeiSubMenu3 {
	color: gray;
}
.SeiCategory {
	background: blue; color: white;
}
.SeiSortMark {
	font-size: 60%;
}
.SeiErrPopup {
	background: yellow;
}
.SeiRequestOriginal {
	color: blue;
}
.SeiRequestOverWrite {
	color: red;
}
#page_login #head {
	background: url("/sample_1/images/lib21-blue-sky/symbol/head_bg.gif") repeat-x rgb(238, 238, 238); height: 54px;
}
#page_login #login {
	margin-right: 8px;
}
#page_login #login {
	background: linear-gradient(rgb(255, 255, 255), rgb(224, 224, 224)); padding: 0.5em 2em 0.55em; border-radius: 16px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(119, 119, 119); font-size: 14px; font-weight: bold; cursor: pointer; box-shadow: 0px 0px 8px rgba(0,0,0,0.1); text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
#page_login #reset {
	background: linear-gradient(rgb(255, 255, 255), rgb(224, 224, 224)); padding: 0.5em 2em 0.55em; border-radius: 16px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(119, 119, 119); font-size: 14px; font-weight: bold; cursor: pointer; box-shadow: 0px 0px 8px rgba(0,0,0,0.1); text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
#page_login #login:hover {
	background: linear-gradient(rgb(238, 238, 238), rgb(233, 233, 233)); color: rgb(0, 0, 0); box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}
#page_login #reset:hover {
	background: linear-gradient(rgb(238, 238, 238), rgb(233, 233, 233)); color: rgb(0, 0, 0); box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}
body {
	font-size: 13px;
}
body.SeiBody {
	background-color: rgb(248, 248, 248);
}
input[type='text'] {
	border: 1px solid rgb(168, 172, 173); border-image: none;
}
#content .footer {
	background-color: rgb(242, 242, 242);
}
body #side_navi_body {
	font-family: "Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}
#side_navi ul {
	margin: 0px 0px 0px 24px; padding: 0px;
}
#side_navi ul li a img {
	padding-right: 4px; vertical-align: -0.2em;
}
#side_navi .SeiMenuOpen ul {
	margin: 0px;
}
#side_navi .SeiMenuClose ul {
	margin: 0px;
}
#side_navi > ul > .SeiMenuOpen {
	margin: 8px 0px 0px; padding: 0px 0px 8px; font-size: 108%; font-weight: bold;
}
#side_navi > ul > .SeiMenuClose {
	margin: 8px 0px 0px; padding: 0px 0px 8px; font-size: 108%; font-weight: bold;
}
#mainmenu li {
	width: 14%; z-index: 999;
}
#mainmenu li#li006 {
	width: 14%;
}
#mainmenu li#li007 {
	width: 16%;
}
#mainmenu li a {
	background: linear-gradient(rgb(249, 249, 249), rgb(224, 224, 224)); padding: 6px 0px 8px; color: rgb(102, 102, 102); line-height: 1; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(153, 153, 153); border-left-color: rgb(255, 255, 255); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: block; -ms-word-wrap: normal;
}
#mainmenu li a:hover {
	background: linear-gradient(rgb(228, 244, 253), rgb(188, 230, 250));
}
.ie6 #view {
	
}
.ie6 #mainmenu {
	
}
.ie6 #subMenu .ie6 #searchResults {
	
}
.ie6 #tanpyou {
	
}
.ie6 #kensaku {
	
}
.ie6 #matrixS {
	
}
.ie6 #error {
	
}
#tab01 li {
	background: url("/sample_1/images/lib21-blue-sky/symbol/tabL.gif") no-repeat 0px 0px; padding: 0px 0px 0px 8px; width: auto; font-size: 12px; float: left;
}
.SeiTab th {
	background: url("/sample_1/images/lib21-blue-sky/symbol/tabR.gif") no-repeat right; padding: 4px 16px 4px 8px; color: rgb(1, 96, 185); line-height: 1; white-space: nowrap; -ms-word-wrap: normal;
}
.SeiTab th.SeiMenu {
	background: url("/sample_1/images/lib21-blue-sky/symbol/tabR.gif") no-repeat right; padding: 4px 16px 4px 8px; color: rgb(1, 96, 185); line-height: 1; white-space: nowrap; -ms-word-wrap: normal;
}
.SeiTab th:hover {
	background: url("/sample_1/images/lib21-blue-sky/symbol/tabRon.gif") no-repeat right;
}
.SeiTitle_navi {
	text-align: center; color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(61, 172, 251);
}
.SeiInlineMenu {
	width: 100%;
}
.SeiInlineMenu th {
	background: url("/sample_1/images/lib21-blue-sky/symbol/inlinemenu_Bg.gif") repeat-x bottom rgb(245, 252, 255); width: 10%; text-align: center; font-size: 12px;
}
.SeiInlineMenu th a {
	padding: 6px 0px 0px; height: 25px; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(153, 153, 153); border-left-color: rgb(255, 255, 255); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: block;
}
.SeiInlineMenu th a:hover {
	background: rgb(203, 232, 251); text-decoration: none;
}
.SeiInlineMenu img {
	padding: 0px 8px 0px 0px; vertical-align: middle;
}
.SeiInlineMenu th.SeiMenuBlank {
	background: none;
}
.SeiInlineMenu th.on {
	background: url("/sample_1/images/lib21-blue-sky/symbol/inlinemenu_Bg2.gif") repeat-x bottom rgb(205, 237, 255);
}
.SeiSubMenu {
	padding: 10px 0px; clear: both;
}
.SeiSubMenu img {
	margin: 0px 5px 4px;
}
.SeiSubMenu a {
	text-decoration: underline;
}
.SeiSubMenu td {
	color: black;
}
.SeiSubMenu td.SeiSubMenuTitle {
	color: black;
}
.PmsHeadMark {
	color: rgb(255, 79, 2);
}
#content .SeiInput {
	min-width: 40em;
}
#content .SeiResult1 {
	min-width: 40em;
}
body.SeiBody .SeiResult1 {
	min-width: 40em;
}
#content .SeiResult2 {
	min-width: 60em;
}
#content .SeiInputArray {
	min-width: 60em;
}
#content .SeiResult3 {
	
}
#content .SeiInputMatrix {
	
}
#content .SeiInput {
	
}
#content .SeiResult1 {
	
}
#content .SeiResult2 {
	
}
#content .SeiInputArray {
	
}
#content .SeiResult3 {
	
}
#content .SeiInputMatrix {
	
}
#content .SeiResult2Dmy .SeiResult2 {
	min-width: 0px;
}
#content .SeiInputArrayDmy .SeiInputArray {
	min-width: 0px;
}
#content .SeiGanttChartDmy .SeiResult2 {
	min-width: 0px;
}
.SeiTH.SeiThListNo {
	width: 5ex;
}
.SeiTH.SeiThCheckBox {
	width: 5ex;
}
#content .SeiForm {
	padding: 5px 15px 15px;
}
#content .SeiResult2 {
	border: 1px solid rgb(146, 209, 254); border-image: none;
}
#content .SeiResult2 td {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none;
}
#content .SeiResult3 td {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none;
}
#content .SeiResult2 th {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none; color: rgb(1, 63, 115);
}
#content .SeiResult3 th {
	padding: 4px 10px; border: 1px solid rgb(146, 209, 254); border-image: none; color: rgb(1, 63, 115);
}
#content .SeiInputMatrix th {
	padding: 4px 10px; border: 1px solid rgb(146, 209, 254); border-image: none; color: rgb(1, 63, 115);
}
#content .SeiInput {
	border: 1px solid rgb(146, 209, 254); border-image: none; clear: both;
}
#content .SeiResult1 {
	border: 1px solid rgb(146, 209, 254); border-image: none; clear: both;
}
body.SeiBody .SeiResult1 {
	border: 1px solid rgb(146, 209, 254); border-image: none; clear: both;
}
#content .SeiInput td {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none;
}
#content .SeiResult1 td {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none;
}
body.SeiBody .SeiResult1 td {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none;
}
#content .SeiInput th {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none; color: rgb(1, 96, 185);
}
#content .SeiResult1 th {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none; color: rgb(1, 96, 185);
}
body.SeiBody .SeiResult1 th {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none; color: rgb(1, 96, 185);
}
#content .SeiResult1 .SeiHTitle img {
	vertical-align: middle;
}
#content .SeiInput .SeiHTitle img {
	vertical-align: middle;
}
#content .SeiResult2 .SeiHTitle img {
	vertical-align: middle;
}
#content .SeiTree img {
	vertical-align: middle;
}
#content .SeiInput img {
	margin-left: 10px;
}
#content .SeiResult1 img {
	margin-left: 10px;
}
#content .SeiInputArray img {
	margin-left: 10px;
}
body.SeiBody .SeiResult1 img {
	margin-left: 10px;
}
.search_method {
	width: 10px; color: rgb(1, 96, 185); line-height: 1em; font-size: 10px; margin-right: 5px; float: left; display: block; white-space: normal;
}
.search_method2 {
	width: 21px; color: rgb(1, 96, 185); font-size: 10px; margin-right: 5px; float: left; display: block; white-space: normal;
}
#content .SeiInputArray {
	border: 1px solid rgb(146, 209, 254); border-image: none;
}
#content .SeiInputArray td {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none;
}
#content .SeiInputArray th {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none; color: rgb(1, 63, 115);
}
#content .SeiCombobox td:hover {
	background: rgb(255, 192, 203);
}
#content .SeiResult3 {
	border: 1px solid rgb(181, 228, 255); border-image: none;
}
#content .SeiInputMatrix {
	border: 1px solid rgb(181, 228, 255); border-image: none;
}
#content .SeiInputMatrix td {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254); border-image: none;
}
.SeiMainBg .SeiCalendar {
	text-align: center;
}
.SeiCalendar {
	border: 1px solid rgb(146, 209, 254); border-image: none;
}
.SeiCalendar td {
	padding: 2px 4px; border: 1px solid rgb(146, 209, 254); border-image: none;
}
.SeiCalendar img {
	margin-left: 10px;
}
.SeiCalendar th {
	padding: 2px 4px; border: 1px solid rgb(146, 209, 254); border-image: none; color: rgb(1, 63, 115);
}
.SeiCalendar .SeiTH {
	text-align: left;
}
.SeiMainBg .SeiCalendar th.SeiSaturday {
	background: url("/sample_1/images/lib21-blue-sky/symbol/calendar_th1.gif") repeat-x bottom rgb(200, 234, 253); color: rgb(1, 96, 185);
}
.SeiMainBg .SeiCalendar th.SeiSunday {
	background: url("/sample_1/images/lib21-blue-sky/symbol/calendar_th2.gif") repeat-x bottom rgb(254, 214, 238); color: rgb(232, 0, 135);
}
.SeiMainBg .SeiCalendar .SeiSunday {
	color: rgb(232, 0, 135); background-color: rgb(255, 244, 255);
}
.SeiMainBg .SeiCalendar .SeiSaturday {
	color: rgb(1, 96, 185); background-color: rgb(218, 240, 252);
}
.SeiError {
	color: rgb(255, 79, 2);
}
.SeiDebug {
	color: blue;
}
.SeiWarning {
	color: purple;
}
.SeiTab .SeiMenu {
	background: rgb(255, 136, 102); color: white; font-weight: normal;
}
.SeiTab .SeiMenu2 {
	background: rgb(255, 238, 102); font-weight: bold;
}
.SeiTab .SeiMenu3 {
	background: rgb(255, 204, 119); font-weight: normal;
}
.SeiComboButton {
	background: url("/sample_1/images/lib21-blue-sky/symbol/combosel.gif") no-repeat center; width: 3.5ex; height: 3ex; vertical-align: top;
}
body .SeiTitle_navi {
	background: url("/sample_1/images/lib21-blue-sky/symbol/navi_bg.gif") no-repeat center;
}
.SeiTH {
	background: rgb(161, 189, 232); color: rgb(60, 60, 60);
}
.SeiFD_PRI {
	background: rgb(255, 204, 255);
}
.SeiFD_EK {
	background: rgb(255, 204, 204);
}
.SeiFD_NS {
	background: rgb(255, 204, 204);
}
.SeiFD_CD {
	background: rgb(204, 255, 255);
}
.SeiFD_INC {
	background: rgb(153, 255, 153);
}
.SeiFD_PMS {
	background: rgb(204, 204, 204);
}
.SeiFD_FLD {
	background: rgb(255, 255, 255);
}
.SeiFD_REL {
	background: rgb(255, 255, 204);
}
#content .SeiResult2 .SeiFD_PRI .SeiTD {
	background: rgb(255, 204, 255);
}
#content .SeiResult2 .SeiFD_PRI {
	background: rgb(255, 204, 255);
}
#content .SeiResult2 .SeiFD_PRI .SeiTD2 {
	background: rgb(255, 204, 255);
}
#content .SeiResult2 .SeiFD_EK .SeiTD {
	background: rgb(255, 204, 204);
}
#content .SeiResult2 .SeiFD_EK {
	background: rgb(255, 204, 204);
}
#content .SeiResult2 .SeiFD_EK .SeiTD2 {
	background: rgb(255, 204, 204);
}
#content .SeiResult2 .SeiFD_NS .SeiTD {
	background: rgb(255, 204, 204);
}
#content .SeiResult2 .SeiFD_NS {
	background: rgb(255, 204, 204);
}
#content .SeiResult2 .SeiFD_NS .SeiTD2 {
	background: rgb(255, 204, 204);
}
#content .SeiResult2 .SeiFD_CD .SeiTD {
	background: rgb(204, 255, 255);
}
#content .SeiResult2 .SeiFD_CD {
	background: rgb(204, 255, 255);
}
#content .SeiResult2 .SeiFD_CD .SeiTD2 {
	background: rgb(204, 255, 255);
}
#content .SeiResult2 .SeiFD_INC .SeiTD {
	background: rgb(153, 255, 153);
}
#content .SeiResult2 .SeiFD_INC {
	background: rgb(153, 255, 153);
}
#content .SeiResult2 .SeiFD_INC .SeiTD2 {
	background: rgb(153, 255, 153);
}
#content .SeiResult2 .SeiFD_PMS .SeiTD {
	background: rgb(204, 204, 204);
}
#content .SeiResult2 .SeiFD_PMS {
	background: rgb(204, 204, 204);
}
#content .SeiResult2 .SeiFD_PMS .SeiTD2 {
	background: rgb(204, 204, 204);
}
#content .SeiResult2 .SeiFD_FLD .SeiTD {
	background: rgb(255, 255, 255);
}
#content .SeiResult2 .SeiFD_FLD {
	background: rgb(255, 255, 255);
}
#content .SeiResult2 .SeiFD_FLD .SeiTD2 {
	background: rgb(255, 255, 255);
}
#content .SeiResult2 .SeiFD_REL .SeiTD {
	background: rgb(255, 255, 204);
}
#content .SeiResult2 .SeiFD_REL {
	background: rgb(255, 255, 204);
}
#content .SeiResult2 .SeiFD_REL .SeiTD2 {
	background: rgb(255, 255, 204);
}
.SeiNoEntry {
	background-color: rgb(192, 192, 192);
}
body .SeiTitle_navi {
	background: linear-gradient(rgb(239, 239, 239), rgb(209, 209, 209));
}
.main_tab1 {
	background: url("/sample_1/images/lib21-blue-sky/symbol/tabR.gif") no-repeat right;
}
.main_tab3 {
	background: url("/sample_1/images/lib21-blue-sky/symbol/tabRon.gif") no-repeat right;
}
.page_tab1 {
	background: url("/sample_1/images/lib21-blue-sky/symbol/tabR.gif") no-repeat right;
}
.page_tab3 {
	background: url("/sample_1/images/lib21-blue-sky/symbol/tabRon.gif") no-repeat right;
}
.divTopicPath li {
	background: url("/sample_1/images/lib21-blue-sky/symbol/bg_step_usual.gif") no-repeat center;
}
.divTopicPath li.last {
	background: url("/sample_1/images/lib21-blue-sky/symbol/bg_step_usual_last.gif") no-repeat center;
}
.divTopicPath li.visited {
	background: url("/sample_1/images/lib21-blue-sky/symbol/bg_step_visited.gif") no-repeat center;
}
.divTopicPath li.visitedfirst {
	background: url("/sample_1/images/lib21-blue-sky/symbol/bg_step_visited_first.gif") no-repeat center;
}
.divTopicPath li.active {
	background: url("/sample_1/images/lib21-blue-sky/symbol/bg_step_active.gif") no-repeat center;
}
.divTopicPath li.activefirst {
	background: url("/sample_1/images/lib21-blue-sky/symbol/bg_step_active_first.gif") no-repeat center;
}
.propatyWindowTh {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255);
}
.SeiTH {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255);
}
.SeiHTitle {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255);
}
.SeiTH.SeiThListNo {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255);
}
.SeiTH.SeiThCheckBox {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255);
}
.SeiVTitle {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255);
}
.SeiTD {
	background: rgb(255, 255, 255);
}
.SeiIA {
	background: rgb(255, 255, 255);
}
.SeiTD2 {
	background: rgb(245, 251, 254);
}
.SeiIA2 {
	background: rgb(245, 251, 254);
}
#content .SeiResult2 .SeiUpdTR td {
	background: 0px 0px aqua;
}
#content .SeiInputArray .SeiUpdTR td {
	background: 0px 0px aqua;
}
.SeiUpdTD {
	background: 0px 0px aqua;
}
#content .SeiResult2 .SeiSelTR td {
	background: 0px 0px rgb(255, 255, 0);
}
#content .SeiInputArray .SeiSelTR td {
	background: 0px 0px rgb(255, 255, 0);
}
.SeiSelTD {
	background: 0px 0px rgb(255, 255, 0);
}
.SeiPageTotal {
	background: 0px 0px rgb(232, 207, 232);
}
.SeiTotal {
	background: 0px 0px rgb(232, 207, 232);
}
.SeiCalendar td.SeiCalToday {
	background: 0px 0px rgb(255, 255, 0); font-weight: bold;
}
.SeiCategoryTD {
	padding: 0px 5px;
}
.SeiTHErr {
	background: 0px 0px rgb(255, 204, 204);
}
.SeiTDErr {
	background: 0px 0px rgb(255, 204, 204);
}
.SeiErrPopup {
	background: 0px 0px rgb(255, 255, 0);
}
.SeiEditHighlightTD {
	background: rgb(255, 255, 0);
}
#content .SeiResult2 .PmsWebFD .SeiTD {
	background: yellow;
}
.PmsWebFD .SeiTD {
	background: yellow;
}
#content .SeiResult2 .PmsWebFD .SeiTD2 {
	background: yellow;
}
.PmsWebFD .SeiTD2 {
	background: yellow;
}
#content .SeiResult2 .PmsWebDD .SeiTD {
	background: white;
}
.PmsWebDD .SeiTD {
	background: white;
}
#content .SeiResult2 .PmsWebDD .SeiTD2 {
	background: white;
}
.PmsWebDD .SeiTD2 {
	background: white;
}
.SeiTitle {
	text-align: center; color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(61, 172, 251);
}
.SeiPager {
	padding-bottom: 3px; clear: both;
}
.SeiPager .NowPage a {
	color: rgb(250, 206, 188); clear: both; text-decoration: underline; margin-right: 3px;
}
.SeiPager .NowPage a span {
	color: rgb(254, 79, 2);
}
.SeiPager a {
	margin: 0px 1px; color: rgb(142, 176, 213); clear: both; text-decoration: underline;
}
.SeiPager a span {
	color: rgb(13, 104, 190);
}
.SeiPager .SeiError {
	color: rgb(255, 79, 2);
}
.SeiPager_blue a {
	padding: 0px 3px; color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(51, 160, 237);
}
#content .SeiResult1 .SeiTH {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
#content .SeiInput .SeiTH {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
body.SeiBody .SeiResult1 .SeiTH {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
#content .SeiResult2 .SeiTH {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
#content .SeiInputArray .SeiTH {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
#content .SeiResult3 .SeiTH {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); text-align: left; color: rgb(1, 96, 185);
}
#content .SeiInputMatrix .SeiTH {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); text-align: left; color: rgb(1, 96, 185);
}
#content .SeiResult1 .SeiTD {
	background: rgb(255, 255, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(51, 51, 51);
}
#content .SeiInput .SeiTD {
	background: rgb(255, 255, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(51, 51, 51);
}
body.SeiBody .SeiResult1 .SeiTD {
	background: rgb(255, 255, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(51, 51, 51);
}
#content .SeiResult2 .SeiTD {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254);
}
#content .SeiInputArray .SeiIA {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254);
}
#content .SeiResult2 .SeiTD2 {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254);
}
#content .SeiInputArray .SeiIA2 {
	padding: 4px 8px; border: 1px solid rgb(146, 209, 254);
}
#content .SeiResult2 .SeiTD {
	background: rgb(255, 255, 255); color: rgb(51, 51, 51);
}
#content .SeiInputArray .SeiIA {
	background: rgb(255, 255, 255); color: rgb(51, 51, 51);
}
#content .SeiResult2 .SeiTD2 {
	background: rgb(245, 251, 254); color: rgb(51, 51, 51);
}
#content .SeiInputArray .SeiIA2 {
	background: rgb(245, 251, 254); color: rgb(51, 51, 51);
}
#content .SeiResult3 .SeiTD {
	padding: 5px 8px 4px; border: 1px solid rgb(146, 209, 254);
}
#content .SeiInputMatrix .SeiTD {
	padding: 5px 8px 4px; border: 1px solid rgb(146, 209, 254);
}
#content .SeiResult3 .SeiTD2 {
	padding: 5px 8px 4px; border: 1px solid rgb(146, 209, 254);
}
#content .SeiInputMatrix .SeiTD2 {
	padding: 5px 8px 4px; border: 1px solid rgb(146, 209, 254);
}
#content .SeiResult3 .SeiTD {
	background: rgb(255, 255, 255); color: rgb(51, 51, 51);
}
#content .SeiInputMatrix .SeiTD {
	background: rgb(255, 255, 255); color: rgb(51, 51, 51);
}
#content .SeiResult3 .SeiTD2 {
	background: rgb(245, 251, 254); color: rgb(51, 51, 51);
}
#content .SeiInputMatrix .SeiTD2 {
	background: rgb(245, 251, 254); color: rgb(51, 51, 51);
}
#content .SeiInputArray td.SeiUpdTD {
	background: aqua; color: rgb(51, 51, 51);
}
#content .SeiInputArray td.SeiSelTD {
	background: rgb(255, 255, 0); color: rgb(51, 51, 51);
}
#content .SeiInputArray tr td.SeiMoTD {
	background: rgb(255, 255, 0); color: rgb(51, 51, 51);
}
#content .SeiInputArray td.SeiEditHighlightTD {
	background: rgb(255, 255, 0);
}
#content .SeiResult2 td.SeiEditHighlightTD {
	background: rgb(255, 255, 0);
}
#content .SeiInputArray .SeiMoTR td {
	background: rgb(255, 255, 0); color: rgb(51, 51, 51);
}
#content .SeiResult2 td.SeiSelTD {
	background: rgb(255, 255, 0); color: rgb(51, 51, 51);
}
#content .SeiResult2 td.SeiMoTD {
	background: rgb(255, 255, 0); color: rgb(51, 51, 51);
}
#content .SeiResult2 .SeiMoTR td {
	background: rgb(255, 255, 0); color: rgb(51, 51, 51);
}
#content .SeiInputMatrix tr td.SeiMoTD {
	background: rgb(255, 255, 0); color: rgb(51, 51, 51);
}
#content .SeiInputMatrix .SeiMoTR td {
	background: rgb(255, 255, 0); color: rgb(51, 51, 51);
}
#content .SeiResult3 td.SeiMoTD {
	background: rgb(255, 255, 0); color: rgb(51, 51, 51);
}
#content .SeiResult3 .SeiMoTR td {
	background: rgb(255, 255, 0); color: rgb(51, 51, 51);
}
#content .SeiResult1 .SeiHTitle {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
#content .SeiInput .SeiHTitle {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
#content .SeiResult2 .SeiHTitle {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
#content .SeiInputArray .SeiHTitle {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
#content .SeiResult1 .SeiVTitle {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
#content .SeiInput .SeiVTitle {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); padding: 4px 8px; border: 1px solid rgb(146, 209, 254); color: rgb(1, 96, 185);
}
#content .SeiResult2 .SeiTH.SeiThListNo {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); border: 1px solid rgb(146, 209, 254); width: 5ex;
}
#content .SeiInputArray .SeiTH.SeiThListNo {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); border: 1px solid rgb(146, 209, 254); width: 5ex;
}
#content .SeiResult3 .SeiTH.SeiThListNo {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); border: 1px solid rgb(146, 209, 254); width: 5ex;
}
#content .SeiInputMatrix .SeiTH.SeiThListNo {
	background: url("/sample_1/images/lib21-blue-sky/symbol/view_th.gif") repeat-x bottom rgb(205, 237, 255); border: 1px solid rgb(146, 209, 254); width: 5ex;
}
#content .SeiResult2 .SeiTD.SeiTdListNo {
	border: 1px solid rgb(146, 209, 254);
}
#content .SeiInputArray .SeiIA.SeiTdListNo {
	border: 1px solid rgb(146, 209, 254);
}
#content .SeiResult2 .SeiTD2.SeiTdListNo {
	border: 1px solid rgb(146, 209, 254);
}
#content .SeiInputArray .SeiIA2.SeiTdListNo {
	border: 1px solid rgb(146, 209, 254);
}
#content .SeiResult2 .SeiTD.SeiTdListNo {
	
}
#content .SeiInputArray .SeiIA.SeiTdListNo {
	
}
#content .SeiResult2 .SeiTD2.SeiTdListNo {
	
}
#content .SeiInputArray .SeiIA2.SeiTdListNo {
	
}
#content .SeiResult3 .SeiTD.SeiTdListNo {
	border: 1px solid rgb(146, 209, 254);
}
#content .SeiInputMatrix .SeiTD.SeiTdListNo {
	border: 1px solid rgb(146, 209, 254);
}
#content .SeiResult3 .SeiTD2.SeiTdListNo {
	border: 1px solid rgb(146, 209, 254);
}
#content .SeiInputMatrix .SeiTD2.SeiTdListNo {
	border: 1px solid rgb(146, 209, 254);
}
#content .SeiResult3 .SeiTD.SeiTdListNo {
	
}
#content .SeiInputMatrix .SeiTD.SeiTdListNo {
	
}
#content .SeiResult3 .SeiTD2.SeiTdListNo {
	
}
#content .SeiInputMatrix .SeiTD2.SeiTdListNo {
	
}
.SeiMouseOverTip {
	background: white; border: 1px solid currentColor; border-image: none; z-index: 1000;
}
.SeiHelpMsgIcon {
	
}
.SeiHelpMsg {
	background: white; border: 1px solid currentColor; border-image: none; text-align: left; font-weight: normal; white-space: normal; z-index: 1000; cursor: help;
}
.RakHtmlEditorInput p {
	margin-top: 0px; margin-bottom: 0px;
}
.RakHtmlEditorInput blockquote {
	margin-top: 0px; margin-bottom: 0px; direction: ltr;
}
.RakHtmlEditorInput pre {
	padding: 0px; margin-top: 0px; margin-bottom: 0px;
}
#content .SeiResult2.SeiGanttChart .SeiTD.SeiGanttChartTD {
	padding-right: 0px; padding-left: 0px;
}
#content .SeiResult2.SeiGanttChart .SeiTD2.SeiGanttChartTD2 {
	padding-right: 0px; padding-left: 0px;
}
.SeiCategory {
	background: rgb(51, 160, 237); color: white;
}
.SeiOneplaceErrorScroll {
	overflow: scroll; -ms-overflow-x: hidden;
}
.SeiComfirmMessageDivBackground {
	background: rgb(136, 136, 136); left: 0px; top: 0px; position: absolute; z-index: 1000;
}
.SeiIFramePopupDivBackground {
	background: rgb(136, 136, 136); left: 0px; top: 0px; position: absolute; z-index: 900;
}
.SeiIFramePopupBackground {
	border-width: 20px 1px 1px; border-style: solid; border-color: rgb(79, 138, 179) currentColor currentColor; position: absolute; z-index: 950;
}
.SeiComfirmMessageDivDialogue {
	padding: 0px; border: 1px solid black; border-image: none; left: 200px; top: 100px; position: absolute; z-index: 1001; min-width: 300px; max-width: 500px;
}
.SeiComfirmMessageDivTitle {
	background: rgb(203, 232, 251); padding: 6px; height: 20px; border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: solid;
}
.SeiComfirmMessageDivBody {
	background: rgb(255, 255, 255); padding: 6px; min-height: 50px;
}
.SeiComfirmMessageDivButton {
	background: rgb(255, 255, 255); padding: 6px; height: 25px;
}
.SeiComponentMessage {
	display: inline;
}
form.SeiForm {
	background-position: right top; background-image: url("../images/hcm.png"); background-repeat: no-repeat;
}
table tr.SeiTR th.SeiTH {
	text-align: left;
}
#img_data_canvas {
	touch-action: none;
}
td pre {
	margin-top: 0px; margin-bottom: 0px;
}
