body {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
div {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
span {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
h1 {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
h2 {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
h3 {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
h4 {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
h5 {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
h6 {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
p {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
a {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
ul {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
ol {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
li {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
dl {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
dt {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
dd {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
strong {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
em {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
small {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
sub {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
sup {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
img {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
table {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
tr {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
th {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
td {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
address {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
form {
	margin: 0px; outline: 0px; line-height: 1.5; font-size: 100%; -ms-word-break: normal; -ms-word-wrap: break-word;
}
body {
	color: rgb(51, 51, 51); letter-spacing: 0px; font-size: 13px;
}
body.SeiBody {
	font-family: "Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
}
img {
	vertical-align: bottom;
}
ul {
	list-style-type: none;
}
ol {
	list-style-type: none;
}
li {
	list-style-type: none;
}
.RakHtmlEditor ul {
	list-style-type: disc;
}
.RakHtmlEditor ol {
	list-style-type: decimal;
}
.RakHtmlEditor ul li {
	list-style-type: disc;
}
.RakHtmlEditor ol li {
	list-style-type: decimal;
}
table {
	font-size: 100%;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
table {
	border-collapse: collapse;
}
a {
	color: rgb(0, 136, 204); text-decoration: none;
}
a:hover {
	color: rgb(0, 102, 153); text-decoration: underline;
}
a:active {
	color: rgb(0, 102, 153); text-decoration: underline;
}
#no_head {
	background: rgb(0, 153, 255);
}
#page_login {
	position: relative; min-height: 100%;
}
.ie6 #page_login {
	height: 100%;
}
#page_login #head {
	height: 54px;
}
#page_login h1 {
	padding: 12px 0px 0px 32px;
}
#page_login #foot {
	width: 100%; height: 36px; text-align: center; bottom: 0px; overflow: visible; position: absolute; z-index: 20;
}
#page_login #foot p {
	padding: 8px 0px 0px; text-align: center; font-family: Helvetica,Arial,Verdana,sans-serif;
}
#page_login form {
	margin: 64px 0px 0px; padding-bottom: 60px;
}
#page_login dl {
	margin: 0px auto; width: 260px; overflow: hidden;
}
#page_login dt {
	padding: 4px 0px 8px; width: 6em; clear: left; float: left;
}
#page_login dd {
	padding: 0px 0px 8px 7em;
}
#page_login input {
	padding: 2px 4px; width: 150px; vertical-align: middle;
}
#page_login #sousin {
	margin: 16px auto 0px; width: 400px; text-align: center;
}
#page_login #submit {
	margin-right: 8px;
}
.ie6 #page_login #submit {
	padding: 0.5em 1em 0.55em;
}
.ie6 #page_login #reset {
	padding: 0.5em 1em 0.55em;
}
.ie7 #page_login #submit {
	padding: 0.5em 1em 0.55em;
}
.ie7 #page_login #reset {
	padding: 0.5em 1em 0.55em;
}
#side_navi {
	margin: 12px 14px;
}
#side_navi h1 {
	margin: 0px 0px 16px; font-size: 108%;
}
#side_navi ul#ul01 {
	margin: 0px 0px 0px 24px;
}
#side_navi ul#ul01 img {
	padding-right: 4px; vertical-align: -0.2em;
}
#side_navi ul#ul01 ul {
	margin: 0px;
}
#side_navi .li01 {
	margin: 8px 0px 0px; padding: 0px 0px 8px; font-size: 108%; font-weight: bold;
}
#side_navi ul li {
	padding: 0px 0px 0px 20px; font-weight: normal; white-space: nowrap; -ms-word-wrap: normal;
}
.ie6 #side_navi li {
	padding-top: 6px;
}
#tab01 ul {
	width: 100%; height: 20px; font-size: 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
#tab01 li {
	padding: 0px 0px 0px 8px; width: auto; font-size: 12px; float: left;
}
#tab01 li a {
	padding: 4px 16px 4px 8px; line-height: 1; display: block; white-space: nowrap; -ms-word-wrap: normal;
}
#tab01 li a:hover {
	text-decoration: none;
}
#view table {
	width: 100%; min-width: 700px;
}
#view table td {
	background: rgb(245, 251, 254); padding: 8px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#view table tr.odd td {
	background: rgb(255, 255, 255);
}
#view table th {
	padding: 6px 8px; color: rgb(1, 96, 185); border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#view .th1 {
	width: 3em;
}
#view .th3 {
	width: 7em;
}
#view .th4 {
	width: 9em;
}
#view .tdno {
	text-align: center;
}
#mainmenu {
	width: 100%; font-size: 0px; min-width: 700px;
}
#mainmenu li {
	width: 17%; text-align: center; font-size: 13px; font-weight: bold; float: left; white-space: nowrap; position: relative;
}
#mainmenu li#li006 {
	width: 15%;
}
#mainmenu li a img {
	padding: 0px 8px 0px 0px; vertical-align: -0.35em;
}
#mainmenu li a:hover {
	background: rgb(192, 231, 251); color: rgb(0, 0, 0); text-decoration: none;
}
#mainmenu li#li006 a {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
#mainmenu li ul {
	left: 0px; top: 100%; width: 240px; position: absolute;
}
.ie6 #mainmenu li ul {
	width: 238px;
}
.ie7 #mainmenu li ul {
	width: 238px;
}
.ie6 #mainmenu li ul {
	margin-top: 1px;
}
#mainmenu li#li006 ul {
	left: auto; right: 0px;
}
#mainmenu li ul li {
	width: 100%; overflow: hidden; white-space: normal;
}
#mainmenu li ul li a {
	background: rgb(244, 251, 255); padding: 8px 14px; text-align: left; color: rgb(102, 102, 102); overflow: hidden; font-size: 13px; border-right-color: rgb(238, 238, 238); border-bottom-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; display: block;
}
#mainmenu li ul li a:hover {
	background: rgb(189, 230, 250); color: rgb(0, 0, 0);
}
#mainC {
	clear: both; margin-left: 10px;
}
#worker {
	text-align: center; color: rgb(255, 255, 255); font-size: 14px; background-color: rgb(94, 186, 251);
}
#subMenu {
	width: 100%; margin-bottom: 20px; min-width: 700px;
}
#subMenu li {
	width: 20%; text-align: center; font-size: 12px; float: left;
}
#subMenu li a {
	padding: 6px 0px 0px; height: 25px; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(153, 153, 153); border-left-color: rgb(255, 255, 255); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: block;
}
#subMenu li a:hover {
	background: rgb(203, 232, 251); text-decoration: none;
}
#subMenu li#csv {
	width: 19.97%;
}
#subMenu img {
	padding: 0px 8px 0px 0px; vertical-align: middle;
}
#dataDL {
	padding: 20px 0px; clear: both; font-size: 11px;
}
#dataDL a {
	text-decoration: underline;
}
#dataDL img {
	margin: 0px 5px 4px;
}
#pageNavi a {
	margin: 0px 1px; clear: both;
}
#pageNavi .number {
	text-decoration: underline;
}
.pageNavi_blue a {
	padding: 0px 3px; color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(50, 160, 237);
}
.red {
	color: rgb(255, 79, 2);
}
.text_blue {
	color: rgb(14, 104, 189);
}
#searchResults table {
	width: 100%; text-align: center; margin-top: 20px; min-width: 700px;
}
#searchResults table td {
	background: rgb(245, 251, 254); padding: 8px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#searchResults table tr.odd td {
	background: rgb(255, 255, 255);
}
#searchResults table th {
	padding: 6px 8px; color: rgb(1, 96, 185); border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#searchResults .th1 {
	width: 3em;
}
#searchResults .th2 {
	width: 5.5em;
}
#searchResults .th3 {
	width: 11em;
}
#tanpyou table {
	margin: 50px 0px 0px; border: 1px solid rgb(204, 233, 247); border-image: none; width: 60%; clear: both; min-width: 700px;
}
#tanpyou table td {
	background: rgb(255, 255, 255); padding: 8px 0px 8px 8px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#tanpyou table th {
	text-align: left; color: rgb(1, 96, 185); padding-left: 30px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.required {
	text-indent: -10px;
}
#tanpyouTb td img {
	margin-left: 10px;
}
#kensakuBtn {
	padding-top: 10px; clear: both; font-size: 11px;
}
#kensakuBtn a img {
	margin-top: 10px;
}
#kensaku table {
	margin: 10px 0px 0px; border: 1px solid rgb(204, 233, 247); border-image: none; width: 38%; clear: both; min-width: 400px;
}
#kensaku table td {
	background: rgb(255, 255, 255); padding: 8px 0px 8px 8px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#kensaku table th {
	text-align: left; color: rgb(1, 96, 185); padding-left: 30px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.required {
	text-indent: -10px;
}
#kensakuTb img {
	margin-left: 10px;
}
.kensaku_zen {
	width: 10px; color: rgb(1, 96, 185); line-height: 1em; font-size: 10px; margin-right: 5px; float: left; display: block;
}
#matrixS #pageNavi {
	padding: 20px 0px; clear: both;
}
#matrixS table {
	width: 100%; text-align: center; min-width: 700px;
}
#matrixS table td {
	background: rgb(245, 251, 254); padding: 8px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#matrixS table tr.odd td {
	background: rgb(255, 255, 255);
}
#matrixS table th {
	padding: 6px 8px; color: rgb(1, 96, 185); border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#dataNav {
	padding-top: 20px; font-size: 11px;
}
#dataNav li {
	float: left;
}
#dataNav li a {
	float: left;
}
#dataNav li a {
	margin: 0px 5px 0px 3px; text-indent: 10px; text-decoration: underline;
}
.fl_l {
	float: left;
}
#updateBtn {
	padding-top: 10px; clear: both;
}
#error table {
	margin: 10px 0px 0px; border: 1px solid rgb(204, 233, 247); border-image: none; width: 38%; clear: both; min-width: 400px;
}
#error table td {
	background: rgb(255, 255, 255); padding: 8px 0px 8px 8px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#error table th {
	text-align: left; color: rgb(1, 96, 185); padding-left: 30px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#errorTb img {
	margin-left: 10px;
}
.ml15 {
	margin-left: 15px;
}
#errorTb .errorTbTitle {
	padding: 8px 0px 8px 8px; text-align: center;
}
#errorTb .required {
	text-indent: -38px;
}
.required img {
	margin: 0px 3px 5px 0px;
}
#matrixL #pageNavi {
	padding: 20px 0px; clear: both;
}
#matrixL table {
	width: 100%; text-align: center; min-width: 700px;
}
#matrixL table td {
	background: rgb(245, 251, 254); padding: 8px 5px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#matrixL table tr.odd td {
	background: rgb(255, 255, 255);
}
#matrixL table th {
	padding: 6px 8px; color: rgb(1, 96, 185); border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#MatrixLTb .odd th {
	text-indent: -15px;
}
#MatrixLTb td img {
	margin-top: 5px;
}
#ichiran #pageNavi {
	padding: 20px 0px; clear: both;
}
#ichiran table {
	border: 1px solid rgb(204, 233, 247); border-image: none; width: 100%; text-align: center; min-width: 700px;
}
#ichiran table td {
	background: rgb(245, 251, 254); padding: 8px 3px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#ichiran table tr.odd td {
	background: rgb(255, 255, 255);
}
#ichiranTb img {
	margin-left: 10px;
}
#ichiran table th {
	padding: 6px 5px; color: rgb(1, 96, 185); border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#ichiranTb td img {
	margin-top: 5px;
}
.fs11 {
	font-size: 11px;
}
#calenderS #pageNavi {
	padding: 20px 0px;
}
#calenderS table {
	border: 1px solid rgb(204, 233, 247); border-image: none; width: 50%; text-align: center; min-width: 550px;
}
#calenderS table td {
	background: rgb(245, 251, 254); padding: 8px 3px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#calenderS .odd td {
	background: rgb(255, 255, 255); height: 19px;
}
#calenderSTb img {
	margin-left: 10px;
}
#calenderS table th {
	padding: 6px 5px; color: rgb(12, 50, 82); border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#calenderSTb .saturdayTh {
	color: rgb(1, 96, 185);
}
#calenderSTb .sundayTh {
	color: rgb(232, 0, 135);
}
#calenderS .sunday {
	color: rgb(232, 0, 135); background-color: rgb(255, 244, 255);
}
#calenderS .saturday {
	color: rgb(1, 96, 185); background-color: rgb(218, 240, 252);
}
.bold {
	font-weight: bold;
}
#calenderL #pageNavi {
	padding: 20px 0px;
}
#calenderL table {
	border: 1px solid rgb(204, 233, 247); border-image: none; width: 100%; text-align: center; min-width: 900px;
}
#calenderL table input[type=text] {
	height: 11px;
}
#calenderL table td {
	background: rgb(245, 251, 254); padding: 8px 0px; border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#calenderL .odd td {
	background: rgb(255, 255, 255);
}
#calenderL table th {
	padding: 6px 5px; color: rgb(12, 50, 82); border-right-color: rgb(204, 233, 247); border-bottom-color: rgb(204, 233, 247); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
#calenderLTb .saturdayTh {
	color: rgb(1, 96, 185);
}
#calenderLTb .sundayTh {
	color: rgb(232, 0, 135);
}
#calenderL .sunday {
	color: rgb(232, 0, 135); background-color: rgb(255, 244, 255);
}
#calenderL .saturday {
	color: rgb(1, 96, 185); background-color: rgb(218, 240, 252);
}
.calenderLTd {
	margin: 0px auto; width: 150px; padding-left: 10px;
}
.calenderLTd .fl_l li {
	text-align: left; line-height: 20px; font-size: 11px;
}
